.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.favorite {
  background-color: pink;
}

.pink {
  background-color: pink;
}

#root {
  height: 100vh;
}
